ENV=production
DEBUG=false
PROJECT_NAME=LOOTERE
PORT=8000

TELEGRAM_API_ID=123456
TELEGRAM_API_HASH=your_api_hash_here
BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrsTUVwxyZ

MONGO_URI=mongodb+srv://Aman:Aman@cluster0.nbk7t.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGO_DB_NAME=lootere_db

REDIS_URL=rediss://default:gQAAAAAABH84AAIgcDE1NzZhYjhlYTJlZjE0MmIwOWQ2MDVmNDNmNTM5Nzc1Yg@emerging-seal-294712.upstash.io:6379
TMDB_API_KEY=2d93e409c0445e1d4cb2e7a7fa4077cc
JWT_SECRET=e9c63bd92f57a8c5f9841ce5968492e945a94b5f9ab4523e0c5f0b223d631b4c
