ENV=production
DEBUG=false
PROJECT_NAME=LOOTERE
PORT=8000

TELEGRAM_API_ID=123456
TELEGRAM_API_HASH=your_api_hash_here
BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrsTUVwxyZ

MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=lootere_db

REDIS_URL=REDIS_URL=rediss://default:gQAAAAAABH84AAIgcDE1NzZhYjhlYTJlZjE0MmIwOWQ2MDVmNDNmNTM5Nzc1Yg@emerging-seal-294712.upstash.io:6379
TMDB_API_KEY=your_tmdb_api_key_here
JWT_SECRET=your_jwt_secret_key_change_in_production
